src/xmlSchema/test2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
elementFormDefault="qualified" attributeFormDefault="unqualified">

    <!-- group elements for person -->
    <xs:group name="forPerson">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="birthday" type="xs:date"/>
            <xs:element name="age" type="xs:int"/>
        </xs:sequence>    
    </xs:group>
    
    <!-- define element person -->
    <xs:element name="person">
        <xs:complexType>
            <xs:group ref="forPerson" />
        </xs:complexType>
    </xs:element> 
</xs:schema>