src/xmlSchema/test1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
elementFormDefault="qualified" attributeFormDefault="unqualified">
    <!-- define two elements -->
    <xs:element name="cat" type="xs:string"/>
    <xs:element name="dog" type="xs:string"/>
    
    <!-- define the root element:pets -->
    <xs:element name="pets">
        <xs:complexType>
            <xs:sequence minOccurs="2" maxOccurs="unbounded">
                <xs:element ref="cat"/>
                <xs:element ref="dog"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>