src/xmlSchema/test9.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    
    <xs:element name="helloworld" type="myType" />
    <xs:complexType name="myType">
        <!-- choice: 随便选什么元素，也没有顺序限制，但元素个数需满足1-3的限制。 -->
        <xs:choice minOccurs="1" maxOccurs="3">
            <xs:element name="hello" type="xs:string"/>
            <xs:element name="world" type="xs:string"/>
        </xs:choice>
    </xs:complexType>
    
</xs:schema>
