src/xmlSchema/test4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
elementFormDefault="qualified" attributeFormDefault="unqualified">
    
    <!-- define the attribute group for myElement -->
    <xs:attributeGroup name="formyElement">
        <xs:attribute name="hello" type="xs:string" use="optional"/>
        <xs:attribute name="world" type="xs:string" use="required"/>
    </xs:attributeGroup>
    
    <!-- define the element myElement -->
    <xs:element name="myElement">
        <xs:complexType>
            <xs:attributeGroup ref="formyElement"/>
        </xs:complexType>
    </xs:element>
</xs:schema>